{
  "extends": ["../../.eslintrc", "next"],
  "settings": {
    "next": {
      "rootDir": "apps/docs/"
    }
  },
  "overrides": [
    {
      "files": ["*.mjs"],
      "parser": "espree",
      "parserOptions": {
        "ecmaVersion": 2020
      }
    }
  ],
  "rules": {
    "semi": "off",
    "react/no-unescaped-entities": "off",
    "@next/next/no-html-link-for-pages": "off"
  }
}
