{
  "extends": ["../../.eslintrc", "plugin:@next/next/recommended", "next"],
  "settings": {
    "next": {
      "rootDir": "apps/docs/"
    }
  },
  "rules": {
    "semi": "off",
    "react/no-unescaped-entities": "off"
  }
}
