/**
 * NOTE: Added `nextra` layer to fix the issue with `nextra` theme CSS
 * @see apps/docs/patch/postinstall-fix-nextra-theme-css.js
 */
@layer nextra, reset, base, tokens, recipes, utilities;

html, body {
  background: var(--sp-colors-background);
}

.nextra-content {
  color: var(--sp-colors-foreground);
}

.dark\:nx-bg-dark {
  background: var(--sp-colors-background);
  color: var(--sp-colors-foreground);
}

[data-radix-popper-content-wrapper] .subheading-anchor::after {
  display: none;
}
